In [1]:
import numpy as np
import pandas as pd
dataframe_project = pd.read_csv(r'D:\Kartik Projects\Semester 5\Machine Learning\2023-09-12\Custom_CNN_Features.csv')
dataframe_project

,Filename,Label,f0,f1,f2,f3,f4,f5,f6,f7,...,f190,f191,f192,f193,f194,f195,f196,f197,f198,f199
0,1.png,2,50.557468,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,316.271667,0.0,239.577011,277.834534,205.776398,0.0,0.0,0.0,0.0,91.438698
1,10.jpg.png,2,125.256027,0.0,0.0,0.0,0.0,0.0,48.989120,0,...,1317.333740,0.0,1000.075012,1118.496948,1030.366699,0.0,0.0,0.0,0.0,297.483124
2,10.png,2,50.160606,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,330.470978,0.0,251.886398,288.062134,220.889481,0.0,0.0,0.0,0.0,93.795654
3,100.png,2,63.720730,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,442.839233,0.0,345.145599,389.100678,304.433990,0.0,0.0,0.0,0.0,117.381721
4,10091.jpg,2,64.484604,0.0,0.0,0.0,0.0,0.0,37.368713,0,...,835.147400,0.0,649.643616,693.101868,690.640564,0.0,0.0,0.0,0.0,159.916016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,patch_84.jpg.png,2,283.005707,0.0,0.0,0.0,0.0,0.0,73.068192,0,...,2643.636230,0.0,2036.106934,2269.582275,1973.414917,0.0,0.0,0.0,0.0,657.907715
3249,patch_85.jpg.png,2,609.193603,0.0,0.0,0.0,0.0,0.0,131.018112,0,...,5950.206055,0.0,4727.840820,5170.731934,4594.757324,0.0,0.0,0.0,0.0,1362.733398
3250,patch_86.jpg.png,2,781.789490,0.0,0.0,0.0,0.0,0.0,174.997360,0,...,7535.423828,0.0,5972.883789,6563.629883,5749.376465,0.0,0.0,0.0,0.0,1758.735840
3251,patch_87.jpg.png,2,688.966675,0.0,0.0,0.0,0.0,0.0,206.603851,0,...,7119.000977,0.0,5575.274414,6160.208984,5423.260742,0.0,0.0,0.0,0.0,1670.340088
3252,patch_9.jpg.png,2,180.310455,0.0,0.0,0.0,0.0,0.0,81.433441,0,...,1922.478027,0.0,1477.720093,1617.056763,1526.339966,0.0,0.0,0.0,0.0,408.525330

In [2]:
# Creating a table of the the new dataset
table = {
    'age': ['<=30', '<=30', '31...40', '>40', '>40', '>40', '31...40', '<=30', '<=30', '>40', '<=30', '31...40', '31...40', '>40'],
    'income': ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium', 'low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student': ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no'],
    'credit_rating': ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'excellent'],
    'buys_computer': ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
}
dataframe_new = pd.DataFrame(table) # Uploading the new dataframe
dataframe_new

        age  income student credit_rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [3]:
# Converting all categorical values into numerical values
from sklearn import preprocessing as prep

label_encoder = prep.LabelEncoder()

for column in dataframe_new.columns:
    dataframe_new[column] = label_encoder.fit_transform(dataframe_new[column])
dataframe_new

    age  income  student  credit_rating  buys_computer
0     1       0        0              1              0
1     1       0        0              0              0
2     0       0        0              1              1
3     2       2        0              1              1
4     2       1        1              1              1
5     2       1        1              0              0
6     0       1        1              0              1
7     1       2        0              1              0
8     1       1        1              1              1
9     2       2        1              1              1
10    1       2        1              0              1
11    0       2        0              0              1
12    0       0        1              1              1
13    2       2        0              0              0

In [4]:
# Seperate the data into input and output
input_data = dataframe_new.drop(columns=['buys_computer'])
output_data = dataframe_new['buys_computer']

# Splitting the data into testing and training data
from sklearn.model_selection import train_test_split
train_input, test_input, train_input, test_output = train_test_split(input_data, output_data, test_size = 0.3)

In [5]:
# Question A1:
# Deciding which dataset is the root node for a decision tree
# Defining the entropy of the equation
def entropyData(data_field):
    class_label = data_field.unique()
    entropy = 0
    total_instances = len(data_field)
    for label in class_label:
        probability = len(data_field[data_field == label]) / total_instances
        entropy -= probability * np.log2(probability)
    return entropy

In [6]:
# Finding entropy for the age attribute
age_attribute = dataframe_new.iloc[:, 0]
print(age_attribute)
age_less_equal_30_entropy_before = entropyAttributeBefore(age_attribute, 0)
age_31_40_range_entropy_before = entropyAttributeBefore(age_attribute, 1)
age_greater_40_entropy_before = entropyAttributeBefore(age_attribute, 2)
print("The entropy of attribute age when less than or equal to 30 is: ", age_less_equal_30_entropy_before)
print("The entropy of attribute age when in the range of 31 to 40 is: ", age_31_40_range_entropy_before)
print("The entropy of attribute age when greater than 40 is: ", age_greater_40_entropy_before)

0     1
1     1
2     0
3     2
4     2
5     2
6     0
7     1
8     1
9     2
10    1
11    0
12    0
13    2
Name: age, dtype: int32
The entropy of attribute age when less than or equal to 30 is:  0.863120568566631
The entropy of attribute age when in the range of 31 to 40 is:  0.9402859586706311
The entropy of attribute age when greater than 40 is:  0.9402859586706311

In [7]:
# Finding entropy for the income attribute
income_attribute = dataframe_new.iloc[:, 1]
print(income_attribute)
income_low_entropy_before = entropyAttributeBefore(income_attribute, 0)
income_medium_entropy_before = entropyAttributeBefore(income_attribute, 1)
income_high_entropy_before = entropyAttributeBefore(income_attribute, 2)
print("The entropy of attribute of low income is: ", income_low_entropy_before)
print("The entropy of attribute of medium income is: ", income_medium_entropy_before)
print("The entropy of attribute of high income is: ", income_high_entropy_before)

0     0
1     0
2     0
3     2
4     1
5     1
6     1
7     2
8     1
9     2
10    2
11    2
12    0
13    2
Name: income, dtype: int32
The entropy of attribute of low income is:  0.863120568566631
The entropy of attribute of medium income is:  0.863120568566631
The entropy of attribute of high income is:  0.9852281360342515

In [8]:
# Finding the entropy of the student attribute
student_attribute = dataframe_new.iloc[:, 2]
print(student_attribute)
student_yes_entropy_before = entropyAttributeBefore(student_attribute, 0)
student_no_entropy_before = entropyAttributeBefore(student_attribute, 1)
print("The entropy of attribute of being a student is: ", student_yes_entropy_before)
print("The entropy of attribute of not being a student is: ", student_no_entropy_before)

0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    0
12    1
13    0
Name: student, dtype: int32
The entropy of attribute of being a student is:  1.0
The entropy of attribute of not being a student is:  1.0

In [9]:
# Finding the entropy of the credit_rating attribute
credit_rating_attribute = dataframe_new.iloc[:, 3]
print(credit_rating_attribute)
credit_rating_fair_entropy_before = entropyAttributeBefore(credit_rating_attribute, 'fair')
credit_rating_excellent_entropy_before = entropyAttributeBefore(credit_rating_attribute, 'excellent')
print("The entropy of attribute of being a student is: ", credit_rating_fair_entropy_before)
print("The entropy of attribute of not being a student is: ", credit_rating_excellent_entropy_before)

0     1
1     0
2     1
3     1
4     1
5     0
6     0
7     1
8     1
9     1
10    0
11    0
12    1
13    0
Name: credit_rating, dtype: int32

KeyError: 'fair'

In [ ]:
# Finding the attribute that can be used for making a decision tree
def entropyAttributeAfter(data_field, attribute_value):
    data_field_positive = data_field.loc[data_field['buys_computer'] == 'yes'].value_counts()[attribute_value]
    print(data_field_positive)
    data_field_total = data_field.value_counts()[attribute_value]
    data_field_negative = data_field_total - data_field_positive
    probability_positive = data_field_positive / data_field_total
    probability_negative = data_field_negative / data_field_total
    return -(probability_positive * np.log2(data_field_positive) + probability_negative * np.log2(data_field_negative))

In [ ]:
# Finding the information gain of the age attribute
age_attribute_after = dataframe_new[['age', 'buys_computer']]
age_less_equal_30_entropy_after = entropyAttributeAfter(age_attribute_after, '<=30')
age_31_40_range_entropy_after = entropyAttributeAfter(age_attribute_after, '31...40')
age_greater_40_entropy_after = entropyAttributeAfter(age_attribute_after, '>40')

information_gain_age_less_equal_entropy = age_less_equal_30_entropy_before - age_less_equal_30_entropy_after
information_gain_age_31_40_range_entropy = age_31_40_range_entropy_before - age_31_40_range_entropy_after
information_gain_age_greater_40_entropy = age_greater_40_entropy_before - age_greater_40_entropy_after
print("The information gain for the age attribute less than or equal to 30 is: ", information_gain_age_less_equal_entropy)
print("The information gain for the age attribute between 31 and 40 is: ", information_gain_age_31_40_range_entropy)
print("The information gain for the age attribute greater than 40 is: ", information_gain_age_greater_40_entropy)

buys_computer
yes    2
Name: count, dtype: int64
buys_computer
yes    4
Name: count, dtype: int64
buys_computer
yes    3
Name: count, dtype: int64
The information gain for the age attribute less than or equal to 30 is:  buys_computer
no    NaN
yes   NaN
Name: count, dtype: float64
The information gain for the age attribute between 31 and 40 is:  buys_computer
yes   NaN
Name: count, dtype: float64
The information gain for the age attribute greater than 40 is:  buys_computer
no    NaN
yes   NaN
Name: count, dtype: float64

c:\Users\LENOVO\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\LENOVO\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\LENOVO\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
# Finding the information gain of the income attribute
income_low_entropy_after = entropyAttributeAfter(income_attribute, 'low')
income_medium_entropy_after = entropyAttributeAfter(income_attribute, 'medium')
income_high_entropy_after = entropyAttributeAfter(income_attribute, '>high')

information_gain_income_low = income_low_entropy_before - income_low_entropy_after
information_gain_income_medium = income_medium_entropy_before - income_medium_entropy_after
information_gain_income_high = income_high_entropy_before - income_high_entropy_after
print("The information gain for the age attribute less than or equal to 30 is: ", information_gain_income_low)
print("The information gain for the age attribute between 31 and 40 is: ", information_gain_income_medium)
print("The information gain for the age attribute greater than 40 is: ", information_gain_income_high)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16040\231249512.py:8: RuntimeWarning: divide by zero encountered in log2
  return -(probability_positive * float(np.log2(data_field_positive)) + probability_negative * float(np.log2(data_field_negative)))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16040\231249512.py:8: RuntimeWarning: invalid value encountered in scalar multiply
  return -(probability_positive * float(np.log2(data_field_positive)) + probability_negative * float(np.log2(data_field_negative)))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16040\231249512.py:8: RuntimeWarning: divide by zero encountered in log2
  return -(probability_positive * float(np.log2(data_field_positive)) + probability_negative * float(np.log2(data_field_negative)))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16040\231249512.py:8: RuntimeWarning: invalid value encountered in scalar multiply
  return -(probability_positive * float(np.log2(data_field_positive)) + probability_negative * float(np.log2(data_field_negative)))

KeyError: '>high'

In [ ]:
# Finding the information gain of the student attribute
student_yes_entropy_after = entropyAttributeAfter(student_attribute, 'yes')
student_no_entropy_after = entropyAttributeAfter(student_attribute, 'no')

information_gain_student_yes = student_yes_entropy_before - student_yes_entropy_after
information_gain_student_no = student_no_entropy_before - student_no_entropy_after
print("The information gain for the age attribute less than or equal to 30 is: ", information_gain_student_yes)
print("The information gain for the age attribute between 31 and 40 is: ", information_gain_student_no)

In [ ]:
# Finding the information gain of the credit_rating attribute
credit_score_fair_entropy_after = entropyAttributeAfter(credit_rating_attribute, 'fair')
credit_score_excellent_entropy_after = entropyAttributeAfter(credit_rating_attribute, 'excellent')

information_gain_credit_rating_fair = credit_rating_fair_entropy_before - credit_score_fair_entropy_after
information_gain_credit_rating_excellent = credit_rating_excellent_entropy_before - student_no_entropy_after
print("The information gain for the age attribute less than or equal to 30 is: ", information_gain_income_low)
print("The information gain for the age attribute between 31 and 40 is: ", information_gain_income_medium)
print("The information gain for the age attribute greater than 40 is: ", information_gain_income_high)